<div class="navbar">
    <div class="parteIzq">
        <logoConLink nombre="#YoProgramo" 
        link="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" 
        ruta="../assets/imgs/logoArgPro.jpg">
        </logoConLink>
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">#YoProgramo</a>
    </div>
    

    <div class="spacer"></div>

    <div class="redesSociales">
        <logoConLink class="redesSociales"
        link="https://www.facebook.com/luu.carlino/"
        ruta="../assets/imgs/facebook.png">
        </logoConLink>

        <logoConLink class="redesSociales"
        link="https://www.linkedin.com/in/lucianocarlino/"
        ruta="../assets/imgs/linkedin.png">
        </logoConLink>

        <logoConLink class="redesSociales"
        link="https://github.com/lucianocarlino"
        ruta="../assets/imgs/github.png">
        </logoConLink>
        
        <botonLogin></botonLogin>
    </div>
</div>

<div class="banner">
    <img src="../assets/imgs/banner.jpg" alt="Banner">
</div>

<informacionPersonal apynom="Luciano Carlino"
                    ruta="../assets/imgs/traje.jpg"
                    descripcion="Lorem ipsum"></informacionPersonal>

<informacion class="Experiencia"
            titulo="Experiencia"></informacion>
<lugares nombre = "Carlino & Carlino"
        ruta="../assets/imgs/carlino&carlino.jpg"
        puesto_carrera="Técnico"
        periodo="2023-Actualidad"
        descripcion="Técnico en electricidad industrial, electronica y mecánica."></lugares>

<informacion class="Educacion"
            titulo="Educacion"></informacion>
<lugares nombre = "Instituto Técnico UNT"
            ruta="../assets/imgs/institutoTecnico.jpg"
            puesto_carrera="Técnico mecánico electricista"
            periodo="2014-2020"></lugares>

<lugares nombre = "Universidad Tecnológica Nacional FRT"
            ruta="../assets/imgs/utn.png"
            puesto_carrera="Ingenieria en sistemas de información"
            periodo="2021-Actualidad"></lugares>            

<informacion class="Proyectos"
            titulo="Proyectos"></informacion>

<proyecto class="Portfolio"
        nombre="Portfolio"
        descripcion="Lorem ipsum"
        link="#"></proyecto>


